build:
  type: text
  content: |-
    export NEO_AWS_REGION=$REGION
    aws ecr create-repository --repository-name neo4j-aws-causal-cluster-2 --region $REGION
    make push_image
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: text
  content: |-
    #/bin/sh
    aws ecr delete-repository --repository-name neo4j-aws-causal-cluster-2 --region $REGION --force
dockerCompose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-02-23T10:14:01.104Z
