build:
  type: text
  content: |-
    export NEO_AWS_REGION=$REGION
    aws ecr create-repository --repository-name neo4j-aws-causal-cluster-2 --region $REGION
    make push_image
deploy:
  type: text
  content: |
    #/bin/sh
    kubectl apply -n $ROOST_NAMESPACE -f cloudformation.yml
test: []
uninstall:
  type: text
  content: |-
    #/bin/sh
    aws ecr delete-repository --repository-name neo4j-aws-causal-cluster-2 --region $REGION --force
dockerCompose: ''
CF_Git_path: cloudformation.yml
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-02-27T09:40:24.469Z
